{# 继承 base.html #}
{% extends 'base.html' %}
{# 修改title #}
{% block title %}
    useBase
{% endblock %}

{# css 预留 #}
{% block mycss %}
    <style>
        #div2 {
            background-color: deeppink;
        }
    </style>
    {#    <link rel="stylesheet" href="../static/css/style.css" />#}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock %}

{# div2 修改内容 #}

{% block div2 %}
    <h1> 修改后的内容 </h1>
    {# 使用宏 #}
    {% import  'maco/maco1.html' as 别名 %}
    {{ 别名.fun-name('/router',···) }}
{% endblock %}

{# js 事件 #}
{% block myscript %}
    <script>
        console.log(btn)
    </script>

    <script src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}